<div>
  <h1>GitHub Profile Viewer</h1>
</div>

<div>
  <form method="POST" action="github_profile/show">
    <input type="text" name="username" placeholder="Enter User Name" />
    <button type="submit" name="button">Submit</button>
  </form>
</div>
