<div>
  <h1>GitHub Profile Viewer</h1>
</div>

<div>
  <%= form_tag("github_profile/show", method: "get") do %>
    <div class="input">
      <%= text_field_tag "username", nil, placeholder: "Enter Username" %>
    </div>
    <div class="button">
      <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>
