<!DOCTYPE html>
<html>
<head>
  <title>GithubProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://assets-cdn.github.com/assets/github/index-ab5a4b6368c51838f7b3c1651512096c6332db5873f2e0247cbae17e7d5c839d.css" media="all" rel="stylesheet" />
  <link href="https://assets-cdn.github.com/assets/github2/index-73bfe123ff406f4bf8959a28667410beaac1485e71c92d4725a3d7afc45fc4c5.css" media="all" rel="stylesheet" />

</head>
<body>

<%= yield %>

</body>
</html>
